import React, { Component } from 'react';
import PropTypes from 'prop-types';
import styles from './<%= stylesName %>';

export class <%= componentName %> extends Component {
    static propTypes = {
        
    }

    static defaultProps = {
        
    }

    state = {
        
    }

    render() {
        return (

        );
    }
}

