import React from 'react';
import PropTypes from 'prop-types';
import styles from './<%= stylesName %>.css';

export const <%= componentName %> = (props) => (
  <div className={styles.root}>Content here</div>
);

<%= componentName %>.propTypes = {
    
};

<%= componentName %>.defaultProps = {
    
};
