import React from 'react';
import { <%= componentName %> } from './index';

export default {
    component: <%= componentName %>,
    group: 'Site',
    preview() {
        return (
            <<%= componentName %> />
        );
    },
    storyboard() {
        return [
            {
                title: '',
                states: [
                    {
                        render: () => <<%= componentName %> />
                    }
                ]
            }
        ];
    }
};

